<div class="goods grid">
  <div class="goods__item">
    <div class="goods__pic">
      <a href="product-pelmeni-1.html"><img src="img/image78.png" /></a>
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">С мраморной говядиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title"><a href="product-pelmeni-1.html">С мраморной говядиной</a></div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <a href="product-pelmeni-1.html"><img src="img/image78.png" /></a>
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Премиум</span>
      <span class="goods__tag">С телятиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title"><a href="product-pelmeni-1.html">С телятиной</a></div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">ГОСТ</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">Телячьи ГОСТ</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">С мраморной говядиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">Сибирские</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Премиум</span>
      <span class="goods__tag">Меньше соли <span class="vert">&#10072;</span> С телятиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">МИНИ</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">На натуральных сливках</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">С телятиной</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">Фарш на молоке</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">сочные</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">Фермерская индейка</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">С Фермерской индейкой</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Премиум</span>
      <span class="goods__tag">С мраморной говядиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">Классические</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">С мраморной говядиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">Новосибирские Lumousine</div>
  </div>

  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Премиум</span>
      <span class="goods__tag">С мраморной говядиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">Новосибирские<br />Мраморная говядина</div>
  </div>
  <div class="goods__item">
    <div class="goods__pic">
      <img src="img/image78.png" />
    </div>
    <div class="goods__tags">
      <span class="goods__genre">Классика</span>
      <span class="goods__tag">С мраморной говядиной</span>
    </div>
    <div class="goods__type">пельмени</div>
    <div class="goods__title">Новосибирские</div>
  </div>
</div>

<div class="goods goods-more grid">
  <div class="goods__item desktop"></div>
  <div class="goods__item goods__btnmore">
    <button class="btn-reset btn-primary w-100">показать ещё</button>
    <br />
    <img src="img/scroll-to-top.png" class="goods__scrollup mobile" onclick="window.scrollTo(0, 0);" />
  </div>
</div>
