<section class="new-header newmore-h black">
  <h1>подробнее о новинках</h1>
</section>

<section class="newmore">
  <a class="anchor" name="pizza1"></a> <!-- анкор для следующей секции -->
  <div class="container more-item grid">
      <div>
        <h1>4 сыра</h1>
        <p>Сбалансированный сырный вкус</p>
        <ul class="more-item__list">
          <li>гауда</li>
          <li>моцарелла</li>
          <li>чеддер</li>
          <li>blue cheese</li>
        </ul>
        <div class="more-item__cooking flex">
          <div>9-11 минут и готово</div>
          <div>масса нетто: 365 г</div>
        </div>
      </div>

      <div>
        <div class="more-item__visuals">
          <div class="more-item__fly">
            <img src="img/new-pizza-1.jpg" alt="4 СЫРА" />
          </div>
          <img src="img/new-pizza-p-1.png" alt="4 СЫРА"/>
        </div>

      </div>
  </div>
<a class="anchor" name="pizza2"></a> <!-- анкор для следующей секции -->
</section>

<section class="newmore">
    <div class="container more-item grid">
      <div>
        <h1>мясная</h1>
        <p>Мясной, яркий вкус</p>
        <ul class="more-item__list">
          <li>колбаса</li>
          <li>сальчичон</li>
          <li>сырокопчёный бекон</li>
        </ul>
        <div class="more-item__cooking flex">
          <div>12-14 минут и готово</div>
          <div>масса нетто: 420 г</div>
        </div>
      </div>

      <div>
        <div class="more-item__visuals">
          <div class="more-item__fly">
            <img src="img/new-pizza-2.jpg" alt="МЯСНАЯ" />
          </div>
          <img src="img/new-pizza-p-2.png" alt="МЯСНАЯ" />
        </div>

      </div>
    </div>
    <a class="anchor" name="pizza3"></a> <!-- анкор для следующей секции -->
</section>

<section class="newmore">
  <div class="container more-item grid">
    <div>
      <h1>маргарита</h1>
      <p>Традиция итальянской пиццы</p>
      <ul class="more-item__list">
        <li>спелые томаты</li>
        <li>моцарелла</li>
        <li>базилик</li>
      </ul>
      <div class="more-item__cooking flex">
        <div>9-11 минут и готово</div>
        <div>масса нетто: 365 г</div>
      </div>
    </div>

    <div>
      <div class="more-item__visuals">
        <div class="more-item__fly">
          <img src="img/new-pizza-3.jpg" alt="МАРГАРИТА" />
        </div>
        <img src="img/new-pizza-p-3.png" alt="МАРГАРИТА" />
      </div>

    </div>
  </div>
  <a class="anchor" name="pizza4"></a> <!-- анкор для следующей секции -->
</section>

<section class="newmore">

  <div class="container more-item grid">
    <div>
      <h1>фирменная</h1>
      <p>Мясной, яркий вкус</p>
      <ul class="more-item__list">
        <li>колбаса</li>
        <li>сальчичон</li>
        <li>сырокопчёный бекон</li>
      </ul>
      <div class="more-item__cooking flex">
        <div>12-14 минут и готово</div>
        <div>масса нетто: 420 г</div>
      </div>
    </div>

    <div>
      <div class="more-item__visuals">
        <div class="more-item__fly">
          <img src="img/new-pizza-3.jpg" alt="ФИРМЕННАЯ" />
        </div>
        <img src="img/new-pizza-p-3.png" alt="ФИРМЕННАЯ" />
      </div>

    </div>
  </div>
</section>
