<section class="card">
  <div class="container">
    <div class="card-container">
      <div class="card-card">
        <div class="card-card__line"></div>
        <h1>для кого?</h1>
        <p><strong class="nobr">Gen Zers — Поколение Z.</strong><br/>Они познают окружающий<wbr> мир — быстро и удобно для себя. Они привыкли к яркому и лаконичному<wbr> контенту.<br /><br /></p>
      </div>
      <div class="card-card__back">
        <img src="img/new-genzers.jpg" class="card-card__pic" alt=""/>
      </div>
    </div>
  </div>
</section>
