<section class="line new-header black">
  <h1>Линейка</h1>
  <div class="container grid">
    <div class="line__item flex" onclick="location.href = 'new-pizza.html#pizza1'">
      <img src="img/new-pizza-1.jpg"/>
      <div class="item-name"><h3>4 сыра</h3></div>
      <span class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza1">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </span>
    </div>

    <div class="line__item flex" onclick="location.href = 'new-pizza.html#pizza2'">
      <img src="img/new-pizza-2.jpg" />
      <div class="item-name">
        <h3>Мясная</h3>
      </div>
      <span class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza2">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </span>
    </div>

    <div class="line__item flex">
      <img src="img/new-pizza-3.jpg" />
      <div class="item-name">
        <h3>маргарита</h3>
      </div>
      <span class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza3">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </span>
    </div>

    <div class="line__item flex">
      <img src="img/new-pizza-4.jpg" />
      <div class="item-name">
        <h3>фирменная</h3>
      </div>
      <span class="arr-right-on">
        <a class="item-link" href="new-pizza.html#pizza4">
          <span class="text">подробнее</span>
          @include('../partials/arrowright_white.html')
        </a>
      </span>
    </div>

  </div>



</section>
